<!doctype html>
<html>
    <head>
        <title  align="center">{{title}}</title>
        <style>
            .error {
                color: red;
                font-family: cursive;
            }
            textarea {
                margin: 10px 0;
                width: 540px;
                height: 120px;
            }
        </style>
    </head>
<form style="display:inline-block;">
   <div>
      <p>
        <a href="/blog">Main Blog Page</a>
        <a href="/newpost">Add a Blog Entry</a>
      </p>
   </div>
</form>
<body>

    
    {% with messages = get_flashed_messages(with_categories=True) %}
       <ul>
       {% for category,messages in messages %}
           <li class="{{category}}">{{messages}}</li>
       {% endfor %}
       </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>
</html>